{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <title>CarCollection</title>
</head>

<body>
<div id="box">
    <header>

        <!-- navigation bar -->
        <h1><a class="index-navigation" href="{% url 'home page' %}"><span>C</span>ARS <span>C</span>OLLECTION</a></h1>
        <nav>
            <a href="{% url 'add user' %}">Create Profile</a>
        </nav>
    </header>

    <!-- create profile form -->
    <section id="register-page" class="content auth">
        <form id="register" action="{% url 'add user' %}" method="post">
            <div class="container">
                <div class="brand-logo"></div>
                <h1>Create Profile</h1>

                {{ form }}
                {% csrf_token %}
                <input class="btn submit" type="submit" value="Create Profile">
            </div>
        </form>
    </section>

    <!-- footer -->
    <footer>
        &copy;SoftUni Team 2022. All rights reserved.
    </footer>

</div>
</body>
</html>