{% extends 'base/base.html' %}

{% block content %}

        <div class="body">
            <!--headings-->
            <h1>Your Profile</h1>
            <!--end headings-->

            <!--profile details container TODO-->
            <div class="note-container">
                <h2>
                    {{ profile.full_name }}
                    <img src="{{ profile.image_url }}" alt="image-of-{{ profile.full_name|lower }}" />
                </h2>
                <p>Age: {{ profile.age }}</p>
                <div>
                    <p>All notes: {{ notes_count }}</p>
                </div>
                <div class="right">
                    <a class="button delete" href="{% url 'details profile' %}">Delete</a>
                </div>
            </div>
            <!--end profile details container-->
        </div>

{% endblock content %}
