{% extends 'base/base.html' %}
{% load static %}

{% block login_navigation %}
{% endblock login_navigation %}

{% block register_navigation %}
{% endblock register_navigation %}

{% block content %}
<main>

    <div class="pet-profile">
        <!-- Start Pet Personal Data Section -->
        <div class="profile">
            <div class="profile-data">
                <div class="profile_img">
                    <div class="image">
                        <!-- Pet URL Image -->
                        <img src="{{ pet.personal_photo }}"
                             alt="pet-photo">
                    </div>
                </div>
                <div class="personal">
                    <div class="edit">
                        <!-- Pet Name -->
                        <p>{{ pet.name }}</p>
                        <!-- Pet Edit Button -->
                        <a href="{% url 'edit pet' username='Doncho' pet_slug=pet.slug %}">
                            <img class="edit-img" src="{% static "images/edit-pen-icon-6.jpg" %}" alt="edit button">
                        </a>
                        <!-- Pet Delete Button -->
                        <a href="{% url 'delete pet' username='Doncho' pet_slug=pet.slug %}">
                            <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">
                        </a>
                    </div>
                    <div class="data">
                        <!-- Pet Total Photos -->
                        <span>{{ total_pet_photos }}</span>
                        <p>photos</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Pet Personal Data Section -->

        <div class="pet-posts">

            {% for photo in pet_photos_tagged %}
                {% include 'partials/generate_cards.html' with photo=photo comment_form=comment_form %}
            {% empty %}
                <img class="no-posts" src="{% static 'images/no_posts.png' %}" alt="no posts image">
            {% endfor %}

        </div>
    </div>
</main>
{% endblock content %}
