{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container">
        <div class="col-9">

            <!-- Start Searchbar Form -->
            <form class="searchbar" method="get" action="{% url 'home page' %}">
                {{ search_form }}
                {% csrf_token %}
                <button>
                    <img src="{% static 'images/search.png' %}" height="18" alt="img2">
                </button>
            </form>
            <!-- End Searchbar Form -->

            {% for photo in photos %}

                {% include 'partials/generate_cards.html' with photo=photo %}

            {% endfor %}
            <!-- End Pet Photos Post Section -->

        </div>
    </div>
</main>
{% endblock content %}
