{% extends 'base/base.html' %}

{% block additions %}
{% endblock additions %}

{% block content %}

        <div class="body">
            <!--headings-->
            <h1>Enter Your Data</h1>
            <!--end headings-->

            <!--profile data form-->
            <div class="form">
                <form method="post" action="{% url 'index' %}">
                    {{ form }}
                    {% csrf_token %}
                    <input type="submit" value="SUBMIT" />
                </form>
            </div>
            <!--end profile data form-->
        </div>

{% endblock content %}