{% extends 'base/base.html' %}

{% block content %}

        {% if not cars %}
        <p class="no-articles">No cars yet</p>

        {% else %}

        <section id="catalogue">
            <h1>Total cars: {{ count_cars }}</h1>

                {% for car in cars %}

                    <div class="car-card">
                        <div class="image-wrap">

                            <img src="{{ car.image_url }}"
                                 alt="{{ car.car_type }}">
                        </div>

                        <h3>{{ car.car_type }}</h3>

                        <h1>{{ car.model }}</h1>
                        <div class="details-buttons">

                            <a href="{% url 'details car' car_id=car.pk %}" class="details-btn">Details</a>
                        </div>
                    </div>

                {% endfor %}

        </section>

        {% endif %}

{% endblock content %}