{% extends 'base/base.html' %}

{% block notes_nav %}
{% endblock notes_nav %}

{% block content %}
        <div class="body">
            <!--headings-->
            <h1>Add Note</h1>
            <!--headings-->

            <!--note data form-->
            <div class="form">
                <form method="post" action="{% url 'add note' %}">
                    {{ form }}
                    {% csrf_token %}
                    <input type="submit" value="Publish" />
                </form>
            </div>
            <!--end note data form-->
        </div>

{% endblock content %}