{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container">
        <div class="col-9">

            <!-- Start Searchbar Form -->
            <form class="searchbar" method="get" action="{% url 'home page' %}">
                {{ search_form }}
                {% csrf_token %}
                <button>
                    <img src="{% static 'images/search.png' %}" height="18" alt="img2">
                </button>
            </form>
        {% for photo in photos %}
            {% include 'partials/generate_cards.html' with photo=photo comment_form=comment_form %}
        {% endfor %}
        </div>
    </div>
</main>
{% endblock content %}
